openapi: 3.0.3
info:
  title: PyCon Community Pulse API
  description: API for accessing PyCon community sentiment and trends
  version: 1.0.0
  contact:
    name: PyCon Community Pulse
    url: https://github.com/manjulaRathnayaka/pycon-community-pulse
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.choreo.dev/pycon-pulse
    description: Production server

paths:
  /:
    get:
      summary: Root endpoint
      description: Get API information and status
      operationId: getRoot
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  service:
                    type: string
                    example: "PyCon Community Pulse API"
                  status:
                    type: string
                    example: "healthy"
                  version:
                    type: string
                    example: "1.0.0"

  /posts:
    get:
      summary: Get posts
      description: Retrieve posts with optional filtering and pagination
      operationId: getPosts
      parameters:
        - name: limit
          in: query
          description: Maximum number of posts to return
          required: false
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  posts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Post'
                  count:
                    type: integer
                    description: Number of posts returned
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string

  /sentiment/stats:
    get:
      summary: Get sentiment statistics
      description: Get aggregated sentiment statistics
      operationId: getSentimentStats
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_posts:
                    type: integer
                    description: Total number of posts
                  analyzed_posts:
                    type: integer
                    description: Number of analyzed posts
                  positive:
                    type: integer
                    description: Number of positive posts
                  negative:
                    type: integer
                    description: Number of negative posts
                  neutral:
                    type: integer
                    description: Number of neutral posts
                  average_sentiment:
                    type: number
                    format: float
                    description: Average sentiment score
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string

  /topics/trending:
    get:
      summary: Get trending topics
      description: Get the most popular trending topics
      operationId: getTrendingTopics
      parameters:
        - name: limit
          in: query
          description: Maximum number of topics to return
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 50
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  topics:
                    type: array
                    items:
                      type: object
                      properties:
                        topic:
                          type: string
                          description: Topic name
                        count:
                          type: integer
                          description: Number of mentions
                  count:
                    type: integer
                    description: Number of topics returned
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string

  /health:
    get:
      summary: Health check
      description: Check the health of the API service
      operationId: healthCheck
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "healthy"
                  service:
                    type: string
                    example: "api-service"
                  database:
                    type: string
                    example: "connected"
        '500':
          description: Service is degraded
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "degraded"
                  service:
                    type: string
                  database:
                    type: string
                  error:
                    type: string

components:
  schemas:
    Post:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the post
        source:
          type: string
          description: Source platform (devto, medium, youtube, github)
          example: "devto"
        source_url:
          type: string
          format: uri
          description: Original URL of the post
        title:
          type: string
          description: Title of the post
          nullable: true
        content:
          type: string
          description: Content or excerpt of the post
          nullable: true
        author_name:
          type: string
          description: Name of the author
          nullable: true
        author_url:
          type: string
          format: uri
          description: URL to author's profile
          nullable: true
        published_at:
          type: string
          format: date-time
          description: When the post was originally published
          nullable: true
        collected_at:
          type: string
          format: date-time
          description: When the post was collected by our system
        tags:
          type: array
          items:
            type: string
          description: Tags associated with the post
          nullable: true
        sentiment:
          type: string
          enum: [positive, negative, neutral]
          description: Sentiment analysis result
          nullable: true
        confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Confidence score for sentiment analysis
          nullable: true

    SentimentStats:
      type: object
      properties:
        total_posts:
          type: integer
          description: Total number of posts analyzed
        positive:
          type: integer
          description: Number of positive posts
        negative:
          type: integer
          description: Number of negative posts
        neutral:
          type: integer
          description: Number of neutral posts
        positive_percentage:
          type: number
          format: float
          minimum: 0
          maximum: 100
          description: Percentage of positive posts
        negative_percentage:
          type: number
          format: float
          minimum: 0
          maximum: 100
          description: Percentage of negative posts
        neutral_percentage:
          type: number
          format: float
          minimum: 0
          maximum: 100
          description: Percentage of neutral posts
        average_confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Average confidence score
        period_days:
          type: integer
          description: Number of days included in the statistics

    TopicTrend:
      type: object
      properties:
        topic:
          type: string
          description: Topic name
        count:
          type: integer
          description: Number of posts mentioning this topic
        avg_sentiment:
          type: string
          enum: [positive, negative, neutral]
          description: Average sentiment for this topic
        confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Average confidence score for this topic
